<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <% @order.line_items.each do |item| %>
      <div>
          <div><%= item.product.name %></div>
      </div>
    <% end %>
    Total <%= number_to_currency(@order.total_cents * 0.01) %>


  </body>
</html>

<%# Since you don't know their name information, it can just have a generic greeting
The Order ID should be in the subject line
It should list the total as well as each line item in the order. %>
